{% extends 'layouts/layout.html' %}

{% block title %}
    {{titulo_pagina}}
{% endblock title %}

{% block contenido %}
    <div clas="container" style="min-height:847px">
        <div class="w-75 mx-auto text-center pt-5">
            <h1 class="text-light-center fs-1 fw-bold">Nosotros</h1>
        </div>

        <section class="w-75 mx-auto text-center pt-3" id="acerca">
            <h2 class="p-3 fs-2 border-top border-3">Somos la tienda online <span class="text-primary">1º de Mendoza</span> con cientos de productos de tus marcas preferidas a un excelente precio.</h2>
            <p class="p-3 fs-4">En <span class="text-primary">JAGUARETE KAA</span> encontrarás todo tipo de accesorios e indumentaria para cualquier ocasión o evento, llevamos tus pedidos hasta la puerta de tu casa en cuestión de días.</p>
        </section>
    </div>
{% endblock contenido %}